<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe Payment Demo</title>
</head>
<body>
    <h1>Welcome to payment gateway</h1>
    <script 
    src="//checkout.strpe.com/v2/checkout.js"
    class="stripe-button"
    data-key=""
    data-amount="700"
    data-currency="INR"
    data-name="food-app"
    data-description="Buy Food Plan"
    data-locale="auto"
    >
    </script>
</body>
</html>

<!-- pk_test_51MyBs7SBaRxOGbTXpqY8pmzDJxUit932AOYDRurttiIELYdj7GeqA60D2hMv8h15nfz0urtseyNpm0zcWgWIQqz900sqWZjKEh -->
<!-- sk_test_51MyBs7SBaRxOGbTXLpv3GjEfVBXrqr20xNaOfjMepeyvrFEf0sNRU3PoHyui7SaO4GL36t8Lm4RjfP6UWnbmi46A00IPYIGswm -->